@import "global";
@import "reset";

body {
  background-color: var(--bg-color);
}

.app_modal {
  font: var(--font-m);
}

.app {
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  font: var(--font-m);
}
