.HomePage {

}

.container {
  margin-top: 50px;
}

.mainBlock {
  padding: 48px;
}

.rocket {
  position: relative;
}

.textBlock {
  position: absolute;
  max-width: 468px;
  bottom: 60px;
  left: 40px;
}
