.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.isMainPage {
    padding: 24px;
    margin-bottom: 50px;
}

.btn {
    &:hover {
        color: var(--bg-color);
    }
}