.TeamBlock {
  min-height: 100%;
}

.card {
  width: 427px;
}

.arrow {
  width: 77px;
}

.button {
  background-color: var(--primary-color);
}

.pagination {
  margin-top: auto;
  justify-self: end;
}